<%= link_to 'Edit Coworking Space', edit_coworking_space_path(@coworking_space.id) %>
|
<%= link_to 'Delete coworking space', coworking_space_path(@coworking_space.id), method: 'delete' %>

<h2> <%= @coworking_space.name %> </h2>

  <%= cl_image_tag @coworking_space.image, alt: @coworking_space.name, class: 'w-50 p-3' %>

<p>
    <strong>Coworking space description:</strong> <%= @coworking_space.description %>
</p>

<p>
    <strong>Reviews:</strong> <%= @coworking_space.reviews %>
</p>

<p>
    <strong>companies:</strong>
    <%= @coworking_space.companies %>
</p>

<p>
    <strong>URL:</strong> <%= @coworking_space.website_url %>
</p>




