<h2> <%= @startup.name %> </h2>

<%= link_to 'Edit Startup', edit_startup_path(@startup.id) %>
|
<%= link_to 'Delete Startup', startup_path(@startup.id), method: 'delete' %>


<p>
    <strong>Startup description:</strong> <%= @startup.description %>
</p>

<p>
    <strong>Valuation:</strong> <%= @startup.valuation %>
</p>

<p> 
    <strong>Source of funding:</strong>
    <%= @startup.funding %>
</p>

<p>
    <strong>Status:</strong>
    <%= @startup.status %>
</p>
<p>
    <strong>Number of employees:</strong>
    <%= @startup.employees %>
</p>

<p>
    <strong>City:</strong>
    <%= @startup.city_id %>
</p>

  <%= cl_image_tag @startup.image, alt: @startup.name, class: 'startup' %>


