
<%= link_to 'Edit Startup', edit_startup_path(@startup.id) %>
|
<%= link_to 'Delete Startup', startup_path(@startup.id), method: 'delete' %>
<h2> <%= @startup.name %> </h2>

<%= cl_image_tag @startup.image, class: 'startups', alt: @startup.name %>

<table style="width:70%">
  <tr>
    <td> <strong>Startup description:</strong> </td>
    <td><%= @startup.description %></td>
  </tr>
  <tr>
    <td> <strong>Located in:</strong> </td>
    <td><%= @startup.city.name %></td>
  </tr>
  <tr>
    <td><strong>Valuation(USD):</strong> </td>
    <td><%= @startup.valuation %></td>
  </tr>
  <tr>
    <td><strong>Source of funding:</strong></td>
    <td><%= @startup.funding %></td>
  </tr>
  <tr>
    <td><strong>Status:</strong></td>
    <td><%= @startup.status %></td>
  </tr>
  <tr>
    <td><strong>Number of employees:</strong></td>
    <td><%= @startup.employees %></td>
  </tr>
  <tr>
    <td><strong>Find out more</strong></td>
    <td><a href="<%= @startup.website_url%>"><%= @startup.name %> Website</td>
  </tr>
</table>