<% @cities.each do |city, startups| %>
    <div class="card">
            <%= link_to city_path(city.id) do %>
        <div class="card-img-top"><%= image_tag(city.image1, class: "card-img-top") %></div>
        <div class="card-block">
                <p class="card-title"><b><%= city.name %></p>
                <p class="card-text"></p>                  
            <% end %>
            <ul class="icons">
                <% startups.each do |s| %>
                <li> 
                    <%= link_to startup_path(s.id) do %>
                    <%= image_tag(s.image) %>
                    <% end%>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
