<!DOCTYPE html>
<html>
  <head>
    <title>Nomadlist clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <%= cloudinary_js_config %>
  </head>

  <body>
  <h1> <%= link_to 'NomadList!', root_path %></h1>
    <nav>
    <% if @current_user.present?%>
    Hello, <%= @current_user.name %> | <%= link_to 'Logout', login_path, method: 'delete'%>
    <ul>
    <% else %>
      <li> <%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Sign Up |', new_user_path %> </li>
    <% end %>
      <li><%= link_to 'NomadList Cities |', cities_path %></li>
      <li><%= link_to 'Startups |', startups_path %></li>
      <li><%= link_to 'Add startup |', new_startup_path %></li>
      <li><%= link_to 'Add coworking space', new_coworking_space_path %></li>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
