<!DOCTYPE html>
<html>
  <head>
    <title>Nomadlist clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <%= cloudinary_js_config %>
  </head>

  <body>
  <h1> <%= link_to 'NomadList!', root_path %></h1>
    <nav>
    <% if @current_user.present?%>
    Hello, <%= @current_user.name %> |       <li><%= link_to 'Best Cities for Digital Nomads |', cities_path %></li>
      <li><%= link_to 'All startups |', startups_path %></li>
    <%= link_to 'Logout', login_path, method: 'delete'%>
    <% else %>
    <ul>
      <li> <%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Sign Up |', new_user_path %> </li>
      <li><%= link_to 'Best Cities for Digital Nomads |', cities_path %></li>
      <li><%= link_to 'All startups |', startups_path %></li>
      <li><%= link_to 'Add a startup', new_startup_path %></li>
    <% end %>

    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
